<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coinApiKeyBackup</key>
	<string>6ED53BAD-0213-426F-B957-5AB6438A7528</string>
	<key>coinApiKey</key>
	<string>8D5E9FA9-8E78-402C-8FED-58389C3202B3</string>
</dict>
</plist>
